version: '3'
services:
# The first node and config in the first datacenter.
    node1:
        # Datastax image for Cassandra version 3.x is pulled
        # from the docker within ING of public store.
        image: cassandra:latest
        network_mode: "host"
        # external via guest wifi
        # image: datastax/dse-server:6.0.8
        container_name: coordinatorNode
        hostname: node1
        # use static ip address
        # networks:
        #     dc1ring:
        #         ipv4_address: 172.30.0.2
        # Maps cassandra exercises to a local folder.
        # This preserves data across container restarts.
        volumes:
            - ./postulaciones/postulaciones2.csv:/postulaciones2.csv
        # Docker container environment variable. We are using the
        # CASSANDRA_CLUSTER_NAME to name the cluster. This needs to be the same
        # across clusters. We are also declaring that node1 is a seed node etc.
        # https://hub.docker.com/_/datastax
        environment:
            # - DS_LICENSE=accept
            # - SEEDS=node1
            # - START_RPC=false
            # - CLUSTER_NAME=dse51_cluster
            - CASSANDRA_BROADCAST_ADDRESS=3.86.86.157
            # - NUM_TOKENS=3
            # - DC=DC1
            # - RACK=RAC1
            # - MAX_HEAP_SIZE=1000000000
            # - HEAP_NEWSIZE= 4096M
        # Exposing ports for inter cluster communication
        # expose:
        #     # Intra-node communication
        #     - 7000
        #     # TLS intra-node communication
        #     - 7001
        #     # JMX
        #     - 7199
        #     # CQL
        #     - 9042
        #     # CQL SSL
        #     - 9142
        # ports:
        #     - 9042:9042
        #restart: always

# networks:
#     dc1ring:
#         name: dc1ring
#         ipam:
#             driver: default
#             config:
#                 - subnet: 172.30.0.0/16