version: '3'
services:
# The first node and config in the first datacenter.
    node1:
        image: cassandra:latest
        network_mode: "host"
        container_name: coordinatorNode
        hostname: node1
        volumes:
            - ./postulaciones/postulaciones2.csv:/postulaciones2.csv
        environment:
            - CASSANDRA_BROADCAST_ADDRESS=34.224.222.161