version: '3'
services:
    node2:
        image: cassandra:latest
        network_mode: "host"
        container_name: replicantNode1
        hostname: node2
        environment:
            - SEEDS=3.89.104.249
            - CASSANDRA_BROADCAST_ADDRESS=52.54.112.197
            - CASSANDRA_SEEDS=3.89.104.249,54.160.221.208
